body {

    margin-left: 300px;
    margin-right: 300px;

}

h1 {
    text-align: center;
}

p {
    border-bottom: 3px;
}

.display-4 {

    font-size: 40px;
    color: white;
   }

.jumbotron {

    background-color: blue;
}